*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}